<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  <title>Simulador de INSS e IRPF</title>
</head>
<body>
  <div class="container">
    <h1>Simulador de INSS e IRPF</h1>

    <p class="description">
      Este simulador de INSS e IRPF te ajuda a entender, de forma simples e rápida,
      quais descontos são aplicados no seu salário. Dá para simular valores,
      comparar cenários e ter uma noção melhor do que você realmente recebe.
      Use à vontade, sempre que precisar 😉
    </p>

    <div class="buttons">
      <button onclick="formulario()">INICIAR</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>